.container
  .page-header
    %h1="#{@project.name}: Manage Members"

  %ol.breadcrumb
    %li=link_to 'Projects', projects_path
    %li=link_to @project.name, project_path(@project)
    %li Memberships

  .row
    .col-md-7
      =render partial: 'shared/errors', locals: {object: @membership}

  .well.col-md-7
    .form-inline
      =form_for [@project, @membership] do |f|
        .form-group
          =f.collection_select(:user_id, User.all, :id, :full_name, {prompt: 'Please select a user...'}, {class: 'form-control'})
        .form-group
          =f.collection_select(:role_id, Role.all, :id, :name, {}, {class: 'form-control'})
        .form-group
          =f.submit 'Add New Member', class: 'btn btn-primary'

  .col-md-7
    %table.table

      %tbody
        -@project.memberships.each do |membership|
          -if membership.id
            %tr
              =form_for [@project, membership] do |f|
                %td=link_to membership.user.full_name, user_path(membership.user)
                %td=f.collection_select(:role_id, Role.all, :id, :name, {prompt: membership.role}, class: 'form-control')
                %td=f.submit 'Update', class: 'btn btn-primary'
                %td=link_to '', project_membership_path(@project, membership), method: :delete, class: 'glyphicon glyphicon-remove'
