.container
  .page-header
    .pull-right
      =link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info"
    %h1
      -if @task.complete
        %s
          =@task.description
      -else
        =@task.description

  %ol.breadcrumb
    %li=link_to 'Projects', projects_path
    %li=link_to @project.name, project_path(@project)
    %li=link_to "Tasks", project_tasks_path(@project)
    %li.active
      =@task.description

  -if @task.due_date
    %p
      %strong Due On:

      -if @task.due_date
        =@task.due_date.strftime("%m/%d/%Y")
