.form-horizontal
  =form_for @user do |f|

    .form-group
      .col-sm-offset-2.col-sm-7
        -if @user.errors.any?
          .alert.alert-danger
            %h3
              -if @user.errors.full_messages.length > 1
                ="#{@user.errors.full_messages.length} errors prohibited this form from being saved:"
              -else
                ='1 error prohibited this form from being saved:'
            %ul
              -@user.errors.full_messages.each do |message|
                %li=message

    .form-group
      =f.label :first_name, class: "col-sm-2 control-label"
      .col-sm-6
        =f.text_field :first_name, class: "form-control"

    .form-group
      =f.label :last_name, class: "col-sm-2 control-label"
      .col-sm-6
        =f.text_field :last_name, class: "form-control"

    .form-group
      =f.label :email, class: "col-sm-2 control-label"
      .col-sm-6
        =f.email_field :email, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-6
        =f.submit class: "btn btn-primary"
        =link_to "Cancel", users_path, class: "btn btn-default"
    -if @user.id
      .form-group
        .col-sm-offset-2.col-sm-6
          .well.text-center
            =link_to "Delete User", user_path(@user), method: :delete, class: "btn btn-danger"
