.container
  .page-header
    .pull-right
      = link_to "New User", new_user_path, class: "btn btn-info"
    %h1 Users

  %table.table
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      - @users.each do |user|
        %tr
          %td.col-sm-2
            =user.first_name
            =user.last_name
          %td
            =mail_to user.email
          %td
            .pull-right
              =link_to 'edit', edit_user_path(user)
