.container
  .jumbotron
    .container
      %h1 gCamp
      %p Your life, organized.

  .row
    .col-md-4
      %p.lead
        =image_tag("two.jpg", class: "img-responsive")
    .col-md-4
      %p.lead
        =image_tag("one.jpg", class: "img-responsive")
    .col-md-4
      %p.lead
        =image_tag("three.jpg", class: "img-responsive")
  .row

    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title Tasks
        .panel-body
          Grouped by projects and lists.  Just the way you like'em
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title Permissions
        .panel-body
          Fine grained permissions.
    -# .col-md-4
    -#   .panel.panel-info
    -#     .panel-heading
    -#       %h3.panel-title Documents
    -#     .panel-body
    -#       %ul
    -#         %li Upload
    -#         %li Comment
    -#         %li Revise

    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title Comments
        .panel-body
          %ul
            %li Comment on tasks and documents
            %li Get email notifications

  %div
    -@quotes.each do |key,value|
      %p
        =value
      %p.text-muted
        %em
          \-
          =key
