!!! HTML
%html
  %head
    %title gCamp
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          =link_to 'gCamp', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            -if current_user
              %li=link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user)
            -else
              %li=link_to 'Sign Up', sign_up_path


    .container
      -if notice
        .alert.alert-success
          =notice
    =yield
  %footer
    .container
      %hr
      .row
        .col-md-4
          =link_to "About", about_path
          |
          =link_to "Terms", terms_path
          |
          =link_to "FAQ", faq_path
          |
          =link_to "Tasks", tasks_path
          |
          =link_to "Users", users_path
          |
          =link_to "Projects", projects_path
        .col-md-8.text-right
          =link_to image_tag("linked_in_icon.jpg", class: "footer_icon"), "https://www.linkedin.com/pub/charles-painter/39/4a6/15b"
          =link_to image_tag("github_icon.png", class: "footer_icon"), "https://github.com/cpainter85"
          =link_to image_tag("twitter_icon.png", class: "footer_icon"), "https://twitter.com/@charliegpainter"
          =link_to image_tag("gschool_tag.png", class: "footer_icon"), "https://students.gschool.it/students/274"
